<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        Nosotros
    </title>

    <link rel="stylesheet" href="../assets/styles/main.css">

</head>

<body>
    <header>
        <div class="header-container">
            <h1>Nosotros </h1>
            <div class="menus">
                <!-- Inicia el menu -->
                <ul>
                    <li>
                        <a href="../index.html">Inicio</a>
                    </li>
                    <li>
                        <a href="services/services.html"> Servicios</a>
                    </li>
                    <li>
                        <a href="../views/about.html">Nosotros</a>
                    </li>
                    <li>
                        <a href="../views/contact.html">Contacto</a>
                    </li>
                </ul>
                <!-- Acaba el menu -->
            </div>
        </div>
    </header>

    <h2>
        Conoce a nuetro equipo
    </h2>

    <!--Inicio de imagenes de abogados-->

    <blockquote>

        <img width="200" src="../assets/img/abogado1.jpeg" alt="Abogado uno" title="Abogado 1">
        <p>Alex Muñoz - Abogado asociado. Especialista en derecho penal</p>

        <img width="200" src="../assets/img/abogado2.jpeg" alt="Abogado dos" title="Abogado 2">
        <p>Daniel Rodrìguez - Abogado asociado. especializado en derecho fiscal</p>

        <img width="200" src="../assets/img/abogado3.jpeg" alt="Abogado tre" title="Abogado 3">
        <p>Abraham Vargas - Socio fundador. Especialista en derecho administrativo</p>
        <!--Final de imagenes de abogados-->

    </blockquote>


    <h2>
        Historia del bufete
    </h2>

    <p>
        Desde el año 2008, Bufete Jurídico Elite a sido referente en el tema Jurídico
        a nivel nacional
    </p>

    <h2>
        Conoce nuestro equipo
    </h2>

    <h3>
        Contacto directo
    </h3>

    <!--Inicio de informacion de contacto-->
    <p>
        &#128204; Direccion: Av.San Marcos 444, Ciudad Soles
    </p>

    <p>
        &#128241; Telefono: (123) 456-7889
    </p>

    <p>
        &#128231; Email: abogados@gmail.com
    </p>
    <!--Final de informacion de contacto-->

    <h3>
        Horario de Atencíon
    </h3>

   <!--Inicia tabla de horaio-->
    <table>
        <thead>
            <tr>
                <th class="title_table" > Dia </th>
                <th class="title_table" > Horario </th>
            </tr>
        </thead>

        <tr>
            <td>
                Lunes a Viernes
            </td>
            <td>
                09:00 - 18:00
            </td>
        </tr>
        <tr>
            <td>
                Sabados
            </td>
            <td>
                10:00 - 14:00
            </td>
        </tr>
        <tr>
            <td>
                Domingo
            </td>
            <td>
                Cerrado
            </td>
        </tr>
    </table>
    <!--acaba tabla de horaio-->
    <br><br>

</body>

<footer>
    &#169; 2025 Bufete Jurídico Elite
</footer>

</html>