<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Contacto
	</title>
</head>

<body>
    
    <h1>
        Contacto
    </h1>

    <!-- Inicia el menu -->
     <ul>
        <li>
            <a href="../index.html">Inicio</a>
        </li>
        <li>
            <a href="services/services.html"> Servicios</a>
        </li>
        <li>
            <a href="../views/about.html">Nosotros</a>
        </li>
        <li>
            <a href="../views/contact.html">Contacto</a>
        </li>
     </ul>
    <!-- Acaba el menu -->

    <h2>
        Contactanos
    </h2>

    <!--Inicio de formulario-->
    <form action="contact.html" target="_self" method="post" autocomplete="off">
        <label>
            Nombre:
        </label>
        <br>
        <input type="text" name="Nombre" id="name" minlength="10" maxlength="40"
        required>
        
        <br><br>

        <label>
            Correo electronico:
        </label>
        <br>
        <input type="email" name="Correo" id="Correo" minlength="2" maxlength="50">

        <br><br>

        <label>
            Consulta especifica:
        </label>
        <br>
        <textarea name="comentarios" rows="4" cols="20" placeholder="Ingrese su consulta"></textarea>
        
        <br><br>

        <button type="submit">
            Solicitar Asesoria
        </button>
    </form>
    <!--Final de formulario-->

    <h2>
        Ubicaciòn de la oficina
    </h2>

    <!--Inicio de mapa-->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29129.449147406267!2d-110.35545294552371!3d24.13027584476646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86afd331e6623bc1%3A0x5c928567b5a45159!2sAbogado%20Antonio%20Cota%20Vergara.%20Bufete%20Jur%C3%ADdico!5e0!3m2!1ses-419!2smx!4v1758070580433!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <!--Final de mapa-->

    <h2>
        Contactanos
    </h2>

    <h3>
        Datos de contacto
    </h3>

    <!--Inicio de informacion de contacto-->
    <p>
        &#128204; Direccion: Av.San Marcos 444, Ciudad Soles
    </p>

    <p>
        &#128241; Telefono: (123) 456-7889
    </p>

    <p>
        &#128231; Email: abogados@gmail.com
    </p>
    <!--Final de informacion de contacto-->

    <h3>
        Horarios
    </h3>

    <!--Inicio de lista de horario-->
    <ul>
        <li>
            Lunes a Viernes: 09:00 a 18:00
        </li>
        <li>
            Sabados: 10:00 a 14:00
        </li>
        <li>
            Domingos: Cerrado
        </li>
    </ul>
    <!--Final de lista de horario-->

    <br>
</body>

<footer>
    &#169; 2025 Bufete Jurídico Elite
</footer>   

</html>