<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        Derecho civil
    </title>
</head>

<body>
    
    <h1>
        Detalle  del servicio
    </h1>

    <!-- Inicia el menu -->
     <ul>
        <li>
            <a href="../../index.html">Inicio</a>
        </li>
        <li>
            <a href="services.html"> Servicios</a>
        </li>
        <li>
            <a href="../about.html">Nosotros</a>
        </li>
        <li>
            <a href="../contact.html">Contacto</a>
        </li>
     </ul>
    <!-- Acaba el menu -->

    <h2>
        Derecho civil
    </h2>

    <p>
        En este bufete ofrecemos asesoría y representación en asuntos de derecho civil, 
        protegiendo los intereses de personas y empresas en diferentes ámbitos legales.
    </p>

    <p>
        Ofrecemos
    </p>

    <!--Inicio de lista de servicios-->
    <ul>
        <li>
            Revicion y redacion de documentos
        </li>
        <li>
            resolucion de conflictos entre particulares
        </li>
        <li>
            Representacion en jucios
        </li>
    </ul>
    <!--final de lista de servicios-->

    <a href="services.html">Volver a servicios</a>

    <h3>
        Solicita mas informacion
    </h3>

     <!--Inicio de formulario-->
    <form action="contact.html" target="_self" method="get" autocomplete="off">
        <label>
            Nombre:
        </label>
        <br>
        <input type="text" name="Nombre" id="name" minlength="10" maxlength="40"
        required>
        
        <br><br>

        <label>
            Correo electronico:
        </label>
        <br>
        <input type="email" name="Correo" id="Correo" minlength="2" maxlength="50">

        <br><br>

        <label>
            Consulta especifica:
        </label>
        <br>
        <textarea name="comentarios" rows="4" cols="20" placeholder="Ingrese su consulta"></textarea>
        
        <br><br>

        <button type="submit">
            Solicitar Asesoria
        </button>
    </form>
    <!--Final de formulario-->

</body>

<footer>
    <p>
        &#169; 2025 Bufete Jurídico Elite
    </p>
</footer>

</html>