<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        Servicios
    </title>

</head>

<body>
            
    <h1>
        Servicios
    </h1>

    <!-- Inicia el menu -->
     <ul>
        <li>
            <a href="../../index.html">Inicio</a>
        </li>
        <li>
            <a href="services.html"> Servicios</a>
        </li>
        <li>
            <a href="../about.html">Nosotros</a>
        </li>
        <li>
            <a href="../contact.html">Contacto</a>
        </li>
     </ul>
    <!-- Acaba el menu -->


    <h2>
        Servicios Lagales
    </h2>

    <p>
        En este Bufete de abogados brindamos servicio especializado en distintas
        ramas del derecho para personas y empresas
    </p>

    <!--Inicio de lista de servicios-->
    <ul>
        <li>
            <b>
                Derecho penal: 
            </b> 
            <a href="derecho-penal.html">
                Ver detalles
            </a>
            
        </li>
        <li>
            <b>
                Derecho civil: 
            </b>
            <a 
            target="_blank" 
            href="derecho_civil.html">Ver detalles
            </a>
        </li>
        <li>
            <b>
                Derecho laboral: 
            </b>
            <a 
            target="_blank" 
            href="https://mexico.justia.com/derecho-laboral/">Ver detalles
            </a>
        </li>
        <li>
            <b>
                Contratos: 
            </b>
            <a 
            target="_blank" 
            href="https://mexico.justia.com/derecho-civil/contratos-civiles/">Ver detalles
            </a>
        </li>
        <li>
            <b>Consultoría legal: </b> Se dan acesororamiento pra negocios
        </li>
    </ul>
    <!--Final de lista de servicios-->


</body>

<footer>
    <p>
        &#169; 2025 Bufete Jurídico Elite
    </p>
</footer>

</html>