<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        Servicios
    </title>

    <link rel="stylesheet" href="../../assets/styles/main.css">
</head>

<body>
    <header>
        <div class="header-container">
            <h1>Servicios </h1>
            <div class="menus">
                <!-- Inicia el menu -->
                <ul>
                    <li>
                        <a href="../../index.html">Inicio</a>
                    </li>
                    <li>
                        <a href="services.html"> Servicios</a>
                    </li>
                    <li>
                        <a href="../about.html">Nosotros</a>
                    </li>
                    <li>
                        <a href="../contact.html">Contacto</a>
                    </li>
                </ul>
                <!-- Acaba el menu -->
            </div>
        </div>
    </header>

    <h2>
        Servicios Lagales
    </h2>

    <p>
        En este Bufete de abogados brindamos servicio especializado en distintas
        ramas del derecho para personas y empresas
    </p>

    <!--Inicio de lista de servicios-->
    <ul>
        <li>
            <b>
                Derecho penal:
            </b>
            <a href="derecho-penal.html">
                Ver detalles
            </a>

        </li>
        <li>
            <b>
                Derecho civil:
            </b>
            <a href="derecho_civil.html">Ver detalles
            </a>
        </li>
        <li>
            <b>
                Derecho laboral:
            </b>
            <a href="derecho_laboral.html">Ver detalles
            </a>
        </li>
        <li>
            <b>
                Contratos:
            </b>
                Redacion y revision de contratos
        </li>
        <li>
            <b>Consultoría legal: </b> Se dan acesororamiento para negocios
        </li>
    </ul>
    <!--Final de lista de servicios-->


</body>

<footer>
    <p>
        &#169; 2025 Bufete Jurídico Elite
    </p>
</footer>

</html>